
.toggler {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background:#FFBD07;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;
}

.switch:after {
  content: '';
  background: #fff;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 4px;
 transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}

.toggler:checked + .switch {
  background: #FFBD07;
}

.toggler:checked + .switch:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

.darkTheme{
background-color:rgba(0,0,0,1);
color: white;
position: fixed;
top:-100px;
left:0;
width: 100%;
height:1000vh;
// transform:translateY(-0px);
z-index: -1;
}